.clock {
    display: flex;
    text-align: left;
    background: black;
    color: white;
    justify-content: center;
}

.Thou {
    font-size: 5rem;
    padding: 2rem;
    margin: 1rem;
}
.Hun {
    font-size: 5rem;
    padding: 2rem;
    margin: 1rem;
}
.Tenz {
    font-size: 5rem;
    padding: 2rem;
    margin: 1rem;
}
.Zedd {
    font-size: 5rem;
    padding: 2rem;
    margin: 1rem;
}

.clockSvg {
    background: black;
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    padding: auto;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
}